.calculator-body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-width: 2px;
  width: 40%;
  font-size: large;
}

.calculator-body td button {
  background-color: #000280;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 15px;
}

.calculation-result, .calculation-previous-expression {
  text-align: right;
  background-color: #a3aab8;
  color: black;
  font-size: 20px;
}

.calculation-previous-expression {
  font-style: italic;
}